
body{
  font-family: 'Quicksand', sans-serif, Arial, Helvetica;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #efefee;
}

/* Header*/

header{
  background-color: #121210;
  width: 100%;
}

.full-width-img{
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar{
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.nav-bar ul{
  margin: 0;
  padding: 0;
}

.nav-bar li{
  display: inline;
  padding: 0 10px 0 10px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

/* Global */

.container{
  width: 85%;
  margin: auto;
}

.container h1{
  text-align: center;
}

.container p{
  width: 75%;
  text-align: center;
  margin: auto; 
}

.highlight{
  color: #e8491d;
  font-weight: bold;
}

footer{
  margin: 0;
  padding: 0;
  background-image: url("../images/footer.jpg");
  background-size: 100%;
}
