/* Template colors
 Blue:
  #0f7e9b
  #92d7ef
  #a2eae0
  Beige
  #f9cf92
 Gray:
  #d5d1ca
  #efefee
  #e4e0dc
 Pink:
  #f9acbb
*/

body{
  font-family: 'Quicksand', sans-serif, Arial, Helvetica;
  font-size: 15px;
  background-image: url(../images/computer.jpg);
  background-repeat:no-repeat;
  background-size: 100vw;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #efefee;
}


/* Global */
.container{
  width: 85%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  color: #ffffff;
  padding-top: 20px;
  min-height: 60px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

#title{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 30pt;
}

header li{
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header nav{
  margin: auto;
  margin-top: 10px;
  margin-left: 30%;
}

header .current a{
  color: #e8491d;
  font-weight: bold;
}

#showcase{
  margin-top: 50%;
}

.container h1{
  text-align: center;
}

.container p{
  width: 75%;
  text-align: center;
  margin: auto; 
}

